// layout - homepage
//

.homepage {
  @include top-padding;
}

.homepage__section-bg {
  &.main-yellow {
    background-color: $main-yellow;
  }

  &.dark-gray {
    background-color: $dark-gray;
    color: white;
  }
}

.homepage__section {
  @include container-styles;
  @include flex-rw-sb-c;
  padding-top: 100px;
  padding-bottom: 100px;

  @media (max-width: $large) {
    @include flex-cl-fs-c;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.homepage__headline-text {
  width: 50%;
  margin-right: 20px;
  box-sizing: border-box;

  @media (max-width: $large) {
    @include flex-cl-c-c;
    width: 100%;
    margin: 0;
    text-align: center;
    margin-bottom: 40px;
  }

  p {
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: $large) {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
}

.homepage__headline-code {
  width: 50%;
  margin-left: 20px;
  box-sizing: border-box;

  @media (max-width: $large) {
    width: 100%;
    margin: 0;
  }

  pre {
    @include shadow;
    border-radius: 10px;
    min-height: 400px;
    max-width: 500px;
    margin-left: auto;
  }
}

.homepage__schedule-call {
  @include flex-rw-sb-c;
  width: 100%;

  @media (max-width: $large) {
    @include flex-cl-c-c;
    text-align: center;

    h1 {
      margin-bottom: 40px;
    }
  }
}
