// components - text-input
//

.text-area {
  position: relative;
  width: 100%;
}

textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 0px;
  box-sizing: border-box;
  transition: box-shadow 150ms ease-out;
  position: relative;
  border-bottom: 3px solid black;
  min-height: 100px;
  font-family: hack;
  resize: vertical;
  max-height: 400px;

  &.is-focused {
    border-bottom: 3px solid $main-yellow;
    transition: all 0.15s ease;
  }
}

label {
  &.is-area {
    font-size: 14px;
    color: $black-50;
  }
}
